SUBSYSTEM=="power_supply", ATTR{online}=="0", RUN+="/home/vince/bin/brightness-adjust.sh false"
SUBSYSTEM=="power_supply", ATTR{online}=="1", RUN+="/home/vince/bin/brightness-adjust.sh true"
