{
    "rules": {
        "no-unused-vars": [
            "warn"
        ],
        "no-extra-boolean-cast": 0,
        "semi": [
            "error",
            "always"
        ],
        "linebreak-style": [
            "warn",
            "unix"
        ],
        "indent": 0,
        "no-console": 0
    },
    "globals": {},
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        },
        "sourceType": "module"
    },
    "extends": "eslint:recommended",
    "env": {
        "jquery": true,
        "es6": true,
        "node": true,
        "browser": true,
        "commonjs": true
    },
    "plugins": [
        "react"
    ],
    "parser": "babel-eslint"
}
