{
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "jquery": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    },
    "globals": {
    },
    "rules": {
        "no-console": 0,
        "indent": 0,
        "linebreak-style": [
            "warn",
            "unix"
        ],
        "semi": [
            "error",
            "always"
        ],
        "no-extra-boolean-cast": 0,
        "no-unused-vars": [
            "warn"
        ]
    }
}
